body { background: #675feb; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 32px; display: flex; }
.block-invoice-0 { color: #5d6eb6; font-size: 12px; margin-bottom: 5px; }
.block-config-1 { color: #d94eb8; font-size: 16px; margin-bottom: 5px; }
.block-logger-2 { color: #410c80; font-size: 21px; margin-bottom: 5px; }
.block-notify-3 { color: #2a1907; font-size: 16px; margin-bottom: 5px; }
.block-uploader-4 { color: #161aa1; font-size: 21px; margin-bottom: 5px; }
.block-logger-5 { color: #f03341; font-size: 18px; margin-bottom: 5px; }
.block-cart-6 { color: #f48bb9; font-size: 15px; margin-bottom: 5px; }
.block-cart-7 { color: #aad47a; font-size: 15px; margin-bottom: 5px; }